@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300);

@font-face {
  font-family: 'Helvetica Neue';
  src: url('fonts/HelveticaNeue-Regular.otf') format("opentype");
}

* {
  margin: 0;
}

.hidden {
  display: none;
}

html, body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

#input-holder {
  background:rgba(206, 206, 215, 0.618);
}

.input {
  opacity: 0.8;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  padding: 1em;
}


aside {
  background: #075E54;  
  color: #FFFFFF;
  min-width: 10em;
  flex: 0 1 auto;
  padding: 1rem;
  border-right: 1px solid gray;
}

aside > h3 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

#chat {
  background: #ECE5DD;
  flex: 1 1 auto;
  padding: 1rem;
}

.chat-text-mine-parent {
  padding: 0.5%;
  text-align: right;
}

.chat-text-mine {
  display: inline-block;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: fit-content;
  background: #DEECC4;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.03);
}

.chat-text-other-parent {
  padding: 0.5%;
  text-align: left;
}

.chat-text-other {
  display: inline-block;
  text-align: left;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: fit-content;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.03);
}

.chat-logs-parent {
  text-align: center;
  padding: 1%;
}

.chat-logs {
  display: inline-block;
  text-align: center;
  width: fit-content;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  background: #FFFFFF;
  opacity: 0.5;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.03);
}

#chat-status-msg {
  font-family: sans-serif;
  font-style: italic;
}

#users {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

#users > li {
  padding: 0.25em;
  cursor: pointer;
}

#users > li:hover {
  background-color: #eee;
}

#text-input {
  opacity: 1;
  outline: none;
  background: rgb(253, 253, 253);
  border-radius: 10px;
  border: 3px;
  color: #455A64;
  font-weight: 20;
  flex: 1 1 auto;
  margin-right: 1em;
  font-size: 1.5em;
  padding: 0.3em;
}

#login-box {
  background: #ECE5DD;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  font-size: 2em;
  transition: top 0.2s, opacity 0.2s;
}

#login-box.hidden {
  top: -100vh;
  opacity: 0;
}

#login-box > div {
  padding: 1em;
  background: #075E54;  
  color: #FFFFFF;
  border-radius: 25px;
}

#server-url {
  border-radius: 10px;
}

#username {
  border-radius: 10px;
}

#login-box h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

#login-box input {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  padding: 1rem;
}
